.img-display {
    text-align: center; /* Align the content at the center */
    margin-top: 20px; /* Add space at the top for better appearance */
  }
  
  .img-display h2 {
    border-bottom: 2px groove #333; /* Add a groove border under the heading */
    padding-bottom: 10px; /* Add space between the heading and the image */
  }
  
  .img-display img {
    border: 2px groove #333; /* Add a groove border around the image */
    max-width: 300px; /* Make sure the image doesn't overflow its container */
    height: auto; /* Maintain the aspect ratio of the image */
    display: block; /* Remove default image spacing */
    margin: 0 auto; /* Center the image horizontally */
  }
  .main {
    font-family: 'Arial', sans-serif;
  }
  
  .upload-section {
    margin-top: 20px;
    border: 2px dashed #cccccc;
    padding: 20px;
    text-align: center;
  }
  
  .drop-zone {
    cursor: pointer;
  }
  
  .image-preview {
    margin-top: 20px;
  }
  
  .preview-image {
    max-width: 100%;
    max-height: 200px;
    margin-top: 10px;
  }
  
  .preview-message {
    margin-top: 20px;
    color: #888888;
  }
  
  /* Adjust form elements */
  main Form {
    margin-top: 20px;
  }
  
  /* Adjust button style */
  Button {
    margin-top: 20px;
  }
  /* styling.css */

.files-container {
  margin-top: 20px;
}

.files-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.files-table th,
.files-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.files-table th {
  background-color: #f2f2f2;
}

.file-title {
  font-weight: bold;
}

.file-description {
  max-width: 300px; /* Adjust based on your design */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.button {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}

.errorMsg {
  color: red;
  margin-top: 10px;
  font-weight: bold;
}

  
.s-image {
  /* Set a fixed size for the image, similar to a passport size */
  width: 50px; /* Adjust as needed */
  height: 70px; /* Adjust as needed */
  
  /* Add some styling for a border and rounded corners */
  border: 2px solid #ccc; /* Adjust border color and thickness */
  border-radius: 8px; /* Adjust border radius for rounded corners */
  overflow: hidden; /* Ensure the border-radius is applied */

  /* Add some shadow for a subtle effect */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adjust shadow as needed */

  /* Center the image within the container */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Style the image inside the .s-image container */
.s-image img {
  /* Make the image take up the full space inside the container */
  width: 100%;
  height: 100%;
  object-fit: cover; /* Maintain aspect ratio and cover the container */
  border-radius: 6px; /* Adjust border radius for rounded corners */
}


